{% import "sections_macros.html" as sections_macros %}

{% macro site_header() %}
<div class="jumbotron text-center card mt-4 p-4 shadow-lg">
    <h1>Software development best practices</h1>
    <h2>AI Okinawa</h2>
    <h2>Jakub “Kuba” Kolodziejczyk</h2>
</div>
{% endmacro %}


{% macro card_header_style() %}
"h3 card-header text-center bg-success text-white"
{% endmacro %}


{% macro introduction() %}
    {{ sections_macros.kuba_profile() }}
    <br><br><br>
    {{ sections_macros.course_content_outline() }}
{% endmacro %}

{% macro testing() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Testing</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">It's hard to write complex code correctly</li>
            <li class="list-group-item">Corner cases</li>
            <li class="list-group-item">Quickly notice bugs due to changes in underlying code</li>
            <li class="list-group-item">Refactor with confidence</li>
            <li class="list-group-item">Executable documentation</li>
            <li class="list-group-item">Leads to better design</li>
        </ul>

        <br>
        Unit testing example
        <br><br>
        Acceptance testing example
        <br>
    </div>
</div>
{% endmacro %}



{% macro finishing_slide() %}
<img src="/static/images/ai_okinawa_finishing_slide.jpg" width="100%" class="shadow-lg"></div>
{% endmacro %}
