{% import "sections_macros.html" as sections_macros %}

{% macro site_header() %}
<div class="jumbotron text-center card mt-4 p-4 shadow-lg">
    <h1>Software development best practices</h1>
    <h2>AI Okinawa</h2>
    <h2>Jakub “Kuba” Kolodziejczyk</h2>
</div>
{% endmacro %}


{% macro card_header_style() %}
"h3 card-header text-center bg-success text-white"
{% endmacro %}


{% macro introduction() %}
    {{ sections_macros.kuba_profile() }}
    <br><br><br>
    {{ sections_macros.course_content_outline() }}
{% endmacro %}

{% macro testing() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Testing</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">It's hard to write complex code correctly</li>
            <li class="list-group-item">Corner cases</li>
            <li class="list-group-item">Quickly notice bugs due to changes in underlying code</li>
            <li class="list-group-item">Refactor with confidence</li>
            <li class="list-group-item">Executable documentation</li>
            <li class="list-group-item">Leads to better design</li>
        </ul>

        <br>
        <div class="h3 text-center">Unit testing</div>

        <ul class="list-group">
            <li class="list-group-item"><code>get_factorial(x)</code></li>
            <li class="list-group-item"><code>get_faces(image)</code></li>
        </ul>

        <br><br>
        <div class="h3 text-center">Acceptance testing</div>

        <ul class="list-group">
            <li class="list-group-item"><code>test_factorial_endpoint_with_simple_input()</code></li>
            <li class="list-group-item">Tests application starts up correctly</li>
            <li class="list-group-item">Tests environment - server has correctly libraries installed, etc</li>
            <li class="list-group-item">Tests services connections - we can connect to database, etc</li>
            <li class="list-group-item">Tests all software components (code, databases, external services, etc) work correctly together</li>
            <li class="list-group-item">Used to test "happy path" - typical interactions user has with software</li>
        </ul>

        <br>
    </div>
</div>
{% endmacro %}


{% macro version_control() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Version control</div>

    <br><br>
    <div class="h2 text-center">Should I use git?</div><br>

    <img class="mx-auto d-block" src="https://media0.giphy.com/media/XuBJvrKHutnkQ/giphy.gif">
    <br>

    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">What is version control?</li>
            <li class="list-group-item">Branches</li>
            <li class="list-group-item">Merges</li>
            <li class="list-group-item">Resolving conflicts</li>
            <li class="list-group-item">Why using version control in personal project?<br>
                &#8226 easily revert to last known state<br>
                &#8226 don't worry about breaking something up<br>
                &#8226 check what change introduced a problem (diff)
            </li>
            <li class="list-group-item">Why using version control in a team?<br>
                &#8226 all of the above<br>
                &#8226 don't step on each other's toes (branches)<br>
                &#8226 combine code in a controlled manner (merges)<br>
                &#8226 pull requests<br>
                &#8226 code reviews<br>
                &#8226 continuous integration
            </li>
        </ul>

        <br>
    </div>
</div>
{% endmacro %}


{% macro environment_sandboxing() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Sandboxing</div>

    <div class="m-4">

        <div class="h3 text-center">Environment sandboxing</div>

        <br>
        <img class="mx-auto d-block" src="/static/images/say-works-on-my-machine-again-i-dare-you.jpg">
        <br>

        <br>

        <ul class="list-group">
            <li class="list-group-item">Environment resources<br>
                &#8226 Executables<br>
                &#8226 Compilers<br>
                &#8226 Libraries
            </li>
            <li class="list-group-item">Problems in not managing resources per project<br>
                &#8226 Can't easily reproduce environment on a different machine<br>
                &#8226 Environment update on one project changes environment definition on another project<br>
                &#8226 Environment update on one project can cause bugs on another project<br>
            </li>
            <li class="list-group-item">Solution - environment management!<br>
                &#8226 Project keeps an environment definition file that defines all resources and their versions<br>
                &#8226 All resources are installed locally per project, rather than shared across the system<br>
                &#8226 Environment definition file is version controlled, just like any other code<br>
                &#8226 Using environment definition, exact environment can be reproduced on another machine<br>
            </li>
            <li class="list-group-item">Sample environment definition file from <code>Anaconda</code><br>
        </ul>


        <br><br>

        <div class="h3 text-center">Services sandboxing</div>

        <br><br>

        <ul class="list-group">
            <li class="list-group-item">Services used on a typical web project<br>
                &#8226 Database<br>
                &#8226 File storage<br>
                &#8226 Web server configuration
            </li>
            <li class="list-group-item">Risks in modifying shared services<br>
                &#8226 Break production<br>
                &#8226 Break development for other engineers<br>
                &#8226 Transient bugs<br>
            </li>
            <li class="list-group-item">Solution - services sandboxes!<br>
                &#8226 Each developer uses a local instance of service per project<br>
                &#8226 Most popular tool for services sandboxing: <code>Docker</code>
            </li>
        </ul>

        <br>

    </div>
</div>
{% endmacro %}


{% macro configuration_management() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Configuration management</div>

    <div class="m-4">

        <br>

        <div class="h3 text-center">Typical environments</div>

        <ul class="list-group">
            <li class="list-group-item">Development - one per engineer</li>
            <li class="list-group-item">Testing - checks code works on a machine with known configuration, not just your machine</li>
            <li class="list-group-item">Staging - as close to production as similar, but not used by client (if you have to mess up, do it there)</li>
            <li class="list-group-item">Production - client facing</li>
        </ul>

        <br><br>

        <div class="h3 text-center">Parts that differ between environments</div>

        <ul class="list-group">
            <li class="list-group-item">Database and other services urls</li>
            <li class="list-group-item">Paths to resources</li>
            <li class="list-group-item">Ports application uses</li>
            <li class="list-group-item">Logging options</li>
        </ul>

        <br><br>

        <div class="h3 text-center">Options for passing configuration to application</div>

        <ul class="list-group">
            <li class="list-group-item"><b>Command line arguments</b><br><br>

                Passing configuration to application:<br>
                <code>./myapp --database-url=... --port=123 ---loglevel=info</code><br>

                <br>

                Using configuration inside application:<br>
                {{ sections_macros.configuration_management_with_command_line_arguments_code_usage() }}

                <b>Disadvantages:</b><br>
                &#8226 a lot of typing, thus not very convenient<br>
                &#8226 easy to make a mistake<br>
                &#8226 doesn't scale<br>
            </li>

            <li class="list-group-item">Environment variables:<br>
                <code>DATABASE_URL=... PORT=123 LOGLEVEL=info ./myapp</code><br>
                Exactly same problems as above<br>

                <b>OR</b><br>

                {{ sections_macros.configuration_management_with_environment_variables() }}

                Then from command line:<br>
                <code>
                    source ~/.bashrc<br>
                    ./myapp
                </code><br>

                Using configuration inside application:<br>
                {{ sections_macros.configuration_management_with_environment_variables_code_usage() }}

                <b>Disadvantages:</b><br>

                &#8226 Configuration isn't stored in project, thus can't be version controlled<br>
                &#8226 Environment variables are essentially globals, so it's hard to see all inputs to a given piece of code<br>
            </li>

            <li class="list-group-item">Configuration file:<br>
                {{ sections_macros.configuration_management_with_configuration_file() }}

                Passing configuration to application:<br>
                <code>./myapp --config-path=./configuration/development_config.yaml</code><br>

                Using configuration inside application:<br>
                {{ sections_macros.configuration_management_with_configuration_file_code_usage() }}

            </li>

        </ul>

        <br>


    </div>
</div>
{% endmacro %}


{% macro finishing_slide() %}
<img src="/static/images/ai_okinawa_finishing_slide.jpg" width="100%" class="shadow-lg"></div>
{% endmacro %}
