{% macro card_header_style() %}
"h3 card-header text-center bg-success text-white"
{% endmacro %}


{% macro kuba_profile() %}
<div class="shadow-lg">

    <div class={{ card_header_style() }}>Kuba Kolodziejczyk</div>

    <div class="row">
        <div class="col-md-8">
            <div class="m-4 h4">
                <strong>出身:</strong> ポーランド<br>
                <strong>大学:</strong> ロンドン大学, 大阪大学<br><br>

                <strong>過去</strong><br>
                Nanyang Technological University<br>
                OIST<br>
                レキサス<br><br>

                <strong>現在</strong><br>
                AI Okinawa - 代表<br>
                LiLz株式会社 - CTO<br>
                琉球大学 - 非常勤講師
            </div>
        </div>

        <div class="col-md-4">
          <img src="/static/images/profile_image.jpg" class="mx-auto d-block" width="100%">
        </div>

    </div>
</div>
{% endmacro %}


{% macro course_content_outline() %}
<div class="shadow-lg">
    <div class={{ card_header_style() }}>Course content</div>
    <div class="m-4">
        <ul class="list-group">
            <li class="list-group-item">Testing</li>
            <li class="list-group-item">Version control</li>
            <li class="list-group-item">Code reviews</li>
            <li class="list-group-item">Configuration management</li>
            <li class="list-group-item">Environment sandboxes</li>
            <li class="list-group-item">Continuous integration</li>
            <li class="list-group-item">Continuous deployment</li>
            <li class="list-group-item">Infrastructure as code</li>
        </ul>
        <hr>
    </div>
</div>
{% endmacro %}


{% macro configuration_management_with_command_line_arguments_code_usage() %}
<pre><code class="python"># .myapp.py
def get_arguments_parser():

    parser = argparse.ArgumentParser()
    parser.add_argument("--database-url")
    parser.add_argument("--port")
    parser.add_argument("--loglevel")

    return parser


def foo(database_url):

    print("Doing something with {}".format(database_url))


def main():

    parser = get_arguments_parser()
    arguments = parser.parse_args()

    foo(arguments["database_url"])
</code></pre>
{% endmacro %}


{% macro configuration_management_with_environment_variables() %}
<pre><code class="bash"># .bashrc
export DATABASE_URL=...
export PORT="123"
export LOGLEVEL="info"
</code></pre>
{% endmacro %}


{% macro configuration_management_with_environment_variables_code_usage() %}
<pre><code class="python"># .myapp.py
import os

def foo():

    database_url = os.environ["DATABASE_URL"]
    print("Doing something with {}".format(database_url))


def main():

    foo()
</code></pre>
{% endmacro %}


{% macro configuration_management_with_configuration_file() %}
<pre><code class="yaml"># ./configurations/development_config.yaml
DATABASE_URL=...
PORT="123"
LOGLEVEL="info"
</code></pre>
{% endmacro %}


{% macro configuration_management_with_configuration_file_code_usage() %}
<pre><code class="python"># .myapp.py
import yaml

def get_arguments_parser():

    parser = argparse.ArgumentParser()
    parser.add_argument("--config-path")

    return parser


def foo(database_url):

    print("Doing something with {}".format(database_url))


def main():

    parser = get_arguments_parser()
    arguments = parser.parse_args()

    with open(arguments["config-path"]) as file:

        config = yaml.loads(file)

    foo(config["database_url"])
</code></pre>
{% endmacro %}
